---
# Override of templates/config/kubernetes/components/sops/cluster-secrets.sops.yaml.j2
# adds the locally-introduced secret variables that aren't part of
# cluster-template's stock list.
#
# Add new ${SECRET_*} substitutions here as we land them.
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
stringData:
  SECRET_DOMAIN: "#{ cloudflare_domain }#"
  # Tailscale operator OAuth client (same client across both
  # talos-ii and talos-i since they share a tailnet).
  SECRET_TAILSCALE_OAUTH_CLIENT_ID: kjnW4ZGxQi11CNTRL
  SECRET_TAILSCALE_OAUTH_CLIENT_SECRET: tskey-client-kjnW4ZGxQi11CNTRL-JDDQehteC49LNPSkdprE49SYVeGHV8qg
